body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

.main-content, .game-screen .container  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: black;
}

.game-screen {
    position: absolute;
    width: 100%;
    height: 100%;
}

.game-screen .container {
    flex-direction: column;
}

#start-screen {
    display: none;
}

.game-screen .container img {
    width: 80%;
}

.points {
    color: #fff;
    position: absolute;
    display: flex;
}

.lives {
    
}